<meta charset="utf-8" />
<meta name="author" content="{{ author }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ title }}</title>
<link rel="icon" type="image/png" href="/assets/img/logo.png" />
<link rel="stylesheet" href="/assets/css/lib/bootstrap/{{ themes.bootstrap }}.min.css" />
<link rel="stylesheet" href="/assets/css/lib/highlightjs/{{ themes.highlightjs }}.min.css" />
<link rel="stylesheet" href="/assets/css/index.css" />
<meta property="og:title" content="{{ title }}">
{% if description is defined %}
<meta property="og:description" content="{{ description }}">
{% endif %}
{% if lang is defined %}
<meta property="og:locale" content="{{ lang }}">
{% endif %}
{% if img is defined %}
<meta property="og:image" content="{{ img }}">
{% endif %}
{% if site is defined %}
<meta property="og:site_name" content="{{ site }}">
{% endif %}
<script src="/assets/js/lib/jquery.min.js"></script>
<script src="/assets/js/lib/highlightjs.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% if google is defined %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ google.analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ google.analytics }}');
</script>
{% endif %}
<script src="https://platform.twitter.com/widgets.js"></script>

