<meta charset="utf-8" />
<meta name="author" content="{{ author }}" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>{{ title }}</title>
<link rel="icon" type="image/png" href="/assets/img/logo.png" />
<link rel="stylesheet" href="/assets/css/lib/bootstrap/{{ themes.bootstrap }}.min.css" />
<link rel="stylesheet" href="/assets/css/lib/highlightjs/{{ themes.highlightjs }}.min.css" />
<link rel="stylesheet" href="/assets/css/index.css" />
<script src="/assets/js/lib/jquery.min.js"></script>
<script src="/assets/js/lib/highlightjs.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-150905941-1"></script>
/*
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ google.analytics }}');
</script>
*/
<script src="https://platform.twitter.com/widgets.js"></script>

