<html>
  <head>
    {{ head }}
  </head>
  <body>
    {{ navbar }}
    <div class="container-fluid" style="margin-top:{{ theme.margin.top }}px;">
      <div class="row">
	<div class="col-md-1">
	</div>
	<div class="col-md-7">
	  {{ post }}
	  {% if paginator is defined %}
	  {{ paginator }}
	  {% endif %}
	</div>
	<div class="col-md-3">
	  {{ about }}
	  {% if pinned is defined %}
	  {{ pinned }}
	  {% endif %}
	  {% if links is defined %}
	  {{ links }}
	  {% endif %}
	</div>
	<div class="col-md-1">
	</div>
      </div>
    </div>
    <footer class="footer">
      &nbsp;
    </footer>
  </body>
</html>
